#### EJERCICIO 1

Imprime por pantalla el nombre de las tablas que componen la base de datos "tienda".

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

#### EJERCICIO 2

Imprime por pantalla la información acerca de las columnas que componen la tabla "Employees":

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'employees'")

for x in mycursor:
  print(x)

#### EJERCICIO 3

Realiza una consulta SELECT que obtenga los nombres, teléfonos y direcciones de todas las empresas cliente de la tabla customers. Imprime por pantalla los datos recuperados usando el método *fetchone()*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT customerName, phone, addressLine1 FROM Customers")

myresult = mycursor.fetchone()  
while myresult != None:
  print(myresult)
  myresult = mycursor.fetchone()

#### EJERCICIO 4

Buscar aquellos registros de la tabla Customers que correspondan a clientes de USA pero que no tengan un valor guardado para el campo *state*. Accede a los datos con *fetchall()*

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Customers WHERE country = 'USA' AND state IS NULL")

myresult = mycursor.fetchall()
print(myresult)

#### EJERCICIO 5

Realiza una consulta SELECT que obtenga el número identificativo de cliente más bajo de la base de datos.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Customers ORDER BY customerNumber")
myresult = mycursor.fetchone()
print(myresult)

#### EJERCICIO 6

Selecciona el máximo de credito que tiene cualquiera de los clientes del empleado con número 1165.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT MAX(creditLimit) FROM Customers WHERE salesRepEmployeeNumber = 1165")
myresult = mycursor.fetchone()
print(myresult)

#### EJERCICIO 7

Selecciona el número de clientes en cada pais.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT COUNT(customerNumber) AS numeroClientes, country FROM Customers GROUP BY country")

myresult = mycursor.fetchall()
print(myresult)

#### EJERCICIO 8

Crea un dataframe que contenga todas las entradas de la tabla Customers. Para ello usa un *cursor* y el método *execute()*:

In [ ]:
import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

print(cnx)
mycursor = cnx.cursor()
mycursor.execute("SELECT * FROM Customers")
myresult = mycursor.fetchall()

#Se crea un dataframe con los resultados de la consulta SQL almacenados en myresult.
df_customers = pd.DataFrame(myresult)
#print(df_customers)

#Cerramos la conexion
cnx.close()

#### EJERCICIO 9

Como Customers tiene un número de registros muy elevado, crea un nuevo dataframe con los 20 primeros registros e imprímelos por pantalla:

In [ ]:
import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

print(cnx)
mycursor = cnx.cursor()
mycursor.execute("SELECT * FROM Customers LIMIT 20")
myresult = mycursor.fetchall()

#Se crea un dataframe con los resultados de la consulta SQL almacenados en myresult.
df_customers = pd.DataFrame(myresult)
print(df_customers)

#Cerramos la conexion
cnx.close()

#### EJERCICIO 10

El resultado anterior tiene 13 columnas, por lo que no es cómodo para su visualización por el terminal (o en este mismo notebook).
Crea un dataframe con los resultados para los 20 primeros registros, ordenados por el nombre del cliente (customerName) y guarda los resultados en un fichero .csv, cuyas columnas estén separadas por ';'.

In [ ]:
import mysql.connector
import pandas as pd

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

print(cnx)
mycursor = cnx.cursor()
mycursor.execute("SELECT * FROM Customers ORDER BY customerName LIMIT 20")
myresult = mycursor.fetchall()

#Se crea un dataframe con los resultados de la consulta SQL almacenados en myresult.
df_customers = pd.DataFrame(myresult)
print(df_customers)

df_customers.to_csv('ejercicio3.csv',sep=';')

#Cerramos la conexion
cnx.close()