#### EJERCICIO 1

Crea una tabla Proyectos con información acerca de los proyectos de una empresa. Que al menos tenga los campos ID_Proyecto, NombreProyecto, Presupuesto.
Piensa cómo definir los tipos de datos de las columnas, clave primaria, clave foránea y otras restricciones.

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE Proyectos (ID_Proyecto INT, NombreProyecto VARCHAR(50) NOT NULL, Presupuesto FLOAT NOT NULL, PRIMARY KEY (ID_Proyecto))")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 2
Crea una tabla llamada "EmpleadasYProyectos" que contenga información sobre proyectos a los que esten asociadas las empleadas. Haz que dicha tabla tenga dos atributos: ID_Empleada e ID_Proyecto.

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE EmpleadasYProyectos (ID_Empleada INT, ID_Proyecto INT, PRIMARY KEY (ID_Empleada, ID_Proyecto), FOREIGN KEY (ID_Proyecto) REFERENCES Proyectos(ID_Proyecto))")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 3

Inserta entradas en la tabla Proyectos (las que quieras, pero al menos 3):

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
sql = "INSERT INTO Proyectos (ID_Proyecto, NombreProyecto, Presupuesto) VALUES (%s, %s, %s)"
val = [
  (1, 'Proyecto1',1000.0),
  (2, 'Proyecto2', 2000.0),
  (3, 'Proyecto2', 132.0)
]

try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 4

Elimina el último registro de los que insertaste en el ejercicio anterior:

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
sql = "DELETE FROM Proyectos WHERE ID_Proyecto = 3"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s eliminado/s")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 5

Elimina la tabla EmpleadasYProyectos:

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
sql = "DROP TABLE EmpleadasYProyectos"
try:
    mycursor.execute(sql)

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 6

Crea una base de datos llamada BD_Alumna:

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE BD_Alumna")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

#### EJERCICIO 7

Actualiza la primera entrada de la tabla Proyectos cambiando el Presupuesto del proyecto con ID_Proyecto = 1 a 30000€:

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='tienda')


mycursor = cnx.cursor()
sql = "UPDATE Proyectos SET Presupuesto = 30000 WHERE ID_Proyecto = 1"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM Proyectos")  
results = mycursor.fetchall()
print(results)