In [3]:
import pandas as pd
import numpy as np

**EJERCICIO 1** 

- 1️⃣ Crea dos Series que cumplan las siguientes condiciones: 

    - Serie 1: 
        - Provenga de un diccionario donde las keys sean números
        - Que sus índices vayan del 5-11

    - Serie 1:     
        - A partir de una lista
        - Tiene que tener al menos un valor nulo (NaN)
        - Que sus índices se generen automáticamente
        
- 2️⃣ Realiza tres operaciones (a tu elección) con las dos Series que has creado. Importante, el resultado de las operaciones no nos debe devolver ningún valor nulo, a excepción de los nulos que nosotras hemos creado.  


- 3️⃣ ¿Alguna de nuestras Series tiene algún valor nulo?


- 4️⃣ ¿Hay algún valor mayor a 10 en la primera serie que hemos definido (la del diccionario)? Extrae solo aquellos valores que cumplan la condición.

1️⃣ Crea dos Series que cumplan las siguientes condiciones:

In [9]:
diccionario = {5:23, 
              6: 56,
              7: 45,
              8: 98, 
              9: 1, 
              10: 90, 
              11: 12}

In [10]:
a = pd.Series(diccionario)
a

5     23
6     56
7     45
8     98
9      1
10    90
11    12
dtype: int64

In [11]:
lista = [np.nan, 3, np.nan, 12, 34, 11,23, 78]
b = pd.Series(lista)
b

0     NaN
1     3.0
2     NaN
3    12.0
4    34.0
5    11.0
6    23.0
7    78.0
dtype: float64

2️⃣ Realiza tres operaciones (a tu elección) con las dos Series que has creado. Importante, el resultado de las operaciones no nos debe devolver ningún valor nulo, a excepción de los nulos que nosotras hemos creado.

In [12]:
a.add(b, fill_value = 1)

0       NaN
1       4.0
2       NaN
3      13.0
4      35.0
5      34.0
6      79.0
7     123.0
8      99.0
9       2.0
10     91.0
11     13.0
dtype: float64

In [13]:
a.mul(b, fill_value = 1)

0        NaN
1        3.0
2        NaN
3       12.0
4       34.0
5      253.0
6     1288.0
7     3510.0
8       98.0
9        1.0
10      90.0
11      12.0
dtype: float64

In [14]:
a.pow(b, fill_value = 1)

0               NaN
1      1.000000e+00
2               NaN
3      1.000000e+00
4      1.000000e+00
5      9.528098e+14
6      1.615566e+40
7     8.924339e+128
8      9.800000e+01
9      1.000000e+00
10     9.000000e+01
11     1.200000e+01
dtype: float64

3️⃣ ¿Alguna de nuestras Series tiene algún valor nulo?

In [17]:
# "a" no tiene ningún valor nulo

a.isnull()

5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [18]:
# b tiene dos valores nulos

b.isnull()

0     True
1    False
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

4️⃣ ¿Hay algún valor mayor a 10 en la primera serie que hemos definido (la del diccionario)? Extrae solo aquellos valores que cumplan la condición.

In [20]:
# para ver si hay algun valor mayor que 10 en nuestra Serie

a > 10

5      True
6      True
7      True
8      True
9     False
10     True
11     True
dtype: bool

In [21]:
# para que nos devuelva únicamente los que cumplen la condición

a[a > 10]

5     23
6     56
7     45
8     98
10    90
11    12
dtype: int64