**EJERCICIOS** 

1️⃣ Usa la librería `PyDataset` para descargarte un *DataFrame*. En este caso puedes elegir el que más te guste! 

2️⃣ Haz una exploración del *DataFrame*:

- Muestra las primeras 5 filas
- ¿Cuántas filas y columnas hay en el *dataframe*?
- ¿Cuántos nulos hay?
- ¿Cuáles son los principales estádisticos de nuestras columnas numéricas?
- ¿Qué correlación existe entre nuestras columnas? 
    
    **BONUS** ¿Podrías hacer una pequeña interpretación de los resultados que nos sale de la correlación?

- Cambia el nombre de las columnas. Dependiendo del *dataframe* haremos unos cambios u otros. Algunos cambios que podemos hacer son:

    - Poner los nombres todo en minúsculas o mayúsculas
    - Eliminar los espacios en los nombres
        
3️⃣ Guarda el *dataframe* con los cambios hechos en un archivo `csv`

**SOLUCIONES**

1️⃣ Usa la librería `PyDataset` para descargarte un *DataFrame*.

In [1]:
from pydataset import data
dfs = data()
df = data('iris')

- 2️⃣ Haz una exploración del *dataframe*:

In [2]:
# muestra las primeras 5 filas

df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [2]:
# ¿cuántas filas y columnas hay?

df.shape

(150, 5)

In [3]:
# ¿cuántos valores nulos tenemos? 

df.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [6]:
# descipción estadísticos

df.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [8]:
# correlación

df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

3️⃣ Guarda el *dataframe* con los cambios hechos en un archivo `csv`

In [9]:
df.to_csv("datos/iris_cambiado.csv")